<% 
	var vo = data;
%>
<tr data-no='<%=vo.no %>' id="cat-list">
	<td><%=vo.no %></td>
	<td><%=vo.name %></td>
	<td><%=vo.postCounts %></td>
	<td><%=vo.description %></td>
	
	<% if(vo.postCounts == 0 && vo.name != '미분류'){ %>
	<td>
	    <button class="btn-delete">
			<img src="/jblog03/assets/images/delete.jpg"/>
			<input class="delete-no" type="hidden" name="no" value="<%=vo.no %>"/>
		</button>
	</td>
	
    <% 
    } else if (vo.postCounts > 0 || vo.name == '미분류') { 
    %>
    <td></td>	
    
    <% } %>
</tr> 